/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background: #edeff2;
}

a {
  display: inline-block;
  transition: all ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  transform: scale(1.05);
  color: #595959;
}

.skillDivider{
  height: 1px;
  width: 50px;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mainContainer {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.25);
}

.aside {
  padding-top: 40px;
  background: #1e2939;
  color: #ffffff;
  width: 320px;
}

.aside__photo {
  width: 100%;
  margin-bottom: 40px;
  border-top: 1px solid #ff6b08;
  border-bottom: 1px solid #ff6b08;
}

.contactsContainer,
.techSkillsContainer,
.softSkillsContainer {
  padding-left: 38px;
  margin-bottom: 30px;
}

.contactsContainer__title,
.techSkillsContainer__title,
.softSkillsContainer__title {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.contactsContainer__wrapper {
  font-weight: bold;
}

.contactsContainer__link {
  padding-left: 10px;
  font-weight: normal;
  color: #ffffff;
  -webkit-text-decoration-color: #ff6b08;
  text-decoration-color: #ff6b08;
  transition: all ease-in-out 0.3s;
}

.contactsContainer__link:hover {
  transform: scale(1.05);
  color: #ffffff;
}

.techSkillsContainer__list,
.softSkillsContainer__list {
  color: #ff6b08;
}

.techSkillsContainer__item,
.softSkillsContainer__item {
  color: #ffffff;
}

.infoContainer {
  padding: 50px 20px 80px 80px;
  color: #595959;
}

.infoContainer__wrapper {
  max-width: 420px;
  margin-bottom: 70px;
  margin-right: 70px;
}

.infoContainer__profTitle {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

.infoContainer__title {
  margin-bottom: 15px;
  color: #000000;
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
}

.infoContainer__titleBadgeBase {
  position: relative;
}

.infoContainer__titleBadgeBase::after {
  position: absolute;
  right: -80px;
  top: -10px;
  content: "";
  background: url("https://www.codewars.com/users/Ant-C-tech/badges/micro")
    no-repeat;
  width: 120px;
  height: 20px;
}

.infoContainer__socialLinks {
  display: flex;

  margin-bottom: 15px;
}

.infoContainer__socialLinksItem {
  margin: 0 15px;
}

.infoContainer__socialLinksImg {
  width: 40px;
}

.infoContainer__socialLinksImg-animated {
  position: relative;
  will-change: transform;
  -webkit-animation: arrowMotion 2s infinite;
          animation: arrowMotion 2s infinite;
}

.infoContainer__socialLinksImg-animatedBack {
  position: relative;
  will-change: transform;
  -webkit-animation: backArrowMotion 2s infinite;
          animation: backArrowMotion 2s infinite;
}

@-webkit-keyframes arrowMotion {
  0% {
    transform: translateX(0) scale(1);
  }

  50%{
    transform: translateX(15px) scale(1.1);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes arrowMotion {
  0% {
    transform: translateX(0) scale(1);
  }

  50%{
    transform: translateX(15px) scale(1.1);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

@-webkit-keyframes backArrowMotion {
  0% {
    transform: translateX(0) scale(-1, 1);
  }

  50%{
    transform: translateX(15px) scale(-1.1, 1.1);
  }

  100% {
    transform: translateX(0) scale(-1,1);
  }
}

@keyframes backArrowMotion {
  0% {
    transform: translateX(0) scale(-1, 1);
  }

  50%{
    transform: translateX(15px) scale(-1.1, 1.1);
  }

  100% {
    transform: translateX(0) scale(-1,1);
  }
}

.infoContainer__gitLinkIcon {
  width: 30px;
}

.expTitle {
  color: #3b4452;
}

.infoContainer__description {
  margin-bottom: 40px;
}

.infoContainer__projectSection {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}

.infoContainer__projectNumbers {
  display: block;
  width: 130px;

  margin: 0 20px 0;

  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  line-height: 1;
  color: #ff6b08;
}

.infoContainer__projectDescription {
  text-align: center;
}

.infoContainer__projectDescriptionText {
  display: block;

  margin-bottom: 5px;
}

.projectsContainer,
.educationContainer,
.testContainer {
  margin: 75px 0 50px;
}

.projectsContainer__title,
.workExperienceContainer__title,
.educationContainer__title,
.testContainer__title {
  display: inline-block;
  padding: 5px;

  font-weight: bold;
  font-size: 22px;
  color: #000000;
  margin-bottom: 20px;

  border-radius: 5px;
  border-bottom: 1px solid#3b4452;

  box-shadow: 2px 2px 18px #1e2939;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.projectsContainer__itemWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.projectsContainer__item {
  text-decoration: none;
  color: #595959;
  margin-right: 10px;
}

.workExperienceContainer {
  max-width: 550px;
  margin-bottom: 50px;
}

.company__title {
  font-weight: bold;
  font-size: 16px;
  color: #ff6b08;
  margin-bottom: 5px;
  text-decoration: none;
}

.company__prof,
.course__type {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.company__period {
  color: #a8a8a8;
  font-size: 12px;
  margin-bottom: 10px;
}

.company__description {
  /* margin-bottom: 26px; */
  font-size: 12px;
  line-height: 1.2;
}

.course {
  margin-bottom: 26px;
}

.course__resultWrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
  border-top: 1px solid#FF6B08;
  border-bottom: 1px solid#FF6B08;
}

.course__result {
  align-items: center;

  font-weight: bold;
  color: #ff6b08;
}

.course__resultTextContent {
  margin: 5px;
}

.course__resultImg {
  display: block;
  margin: 0 auto 10px;
  width: 50px;
}

.course__result:hover {
  text-decoration: none;
}

.course__imgIcon {
  display: block;
  max-width: 150px;
  cursor: pointer;
  margin-top: 10px;
  border-top: 1px solid#FF6B08;
  border-bottom: 1px solid#FF6B08;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.4);
}

.course__imgIcon-inline {
  display: inline;
  max-width: 120px;
}

.siteButton {
  display: block;
  margin-top: 80px;
  padding: 10px 15px;

  font-size: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #1e2939;
  font-weight: bold;

  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 18px #1e2939;

  background: #fff;

  transition: all ease-in-out 0.3s;
}

.siteButton:hover,
.siteButton:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
  background: #1e2939;
  border: 1px solid #ff6b08;
  box-shadow: 2px 2px 18px #ff6b08;
  transform: scale(1);
}

.projectsSection {
  margin-right: 30px;
  max-width: 600px;
}

.projectItem {
  width: 100%;
  margin-bottom: 50px;
}

.projectItem__flexWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.screenshotWrapper {
  align-self: flex-start;
  margin-right: 30px;
  padding-top: 10px;
}

.project__title {
  border-bottom: 1px solid#FF6B08;
}

.project__imgIcon {
  display: block;
  max-width: 200px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 30px;
  border-top: 1px solid#FF6B08;
  border-bottom: 1px solid#FF6B08;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.4);
}

.project__projectDescription {
  align-self: flex-start;
  text-align: left;
}

.project__projectDescriptionText {
  margin-top: 10px;
}

.project__links {
  display: flex;
  justify-content: flex-end;
}

.project__gitLink {
  display: block;
  text-align: right;
  margin-right: 20px;
  color: #ff6b08;
}

.project__gitLinkIcon {
  width: 32px;
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    margin: 20px;
  }
  .projectsContainer__stat {
    font-size: 10px;
  }
}

@media screen and (max-width: 992px) {
  .projectItem__flexWrapper {
    flex-wrap: wrap;
  }

  .project__imgIcon {
    max-width: 300px;
  }

  .project__projectDescription {
    width: 100%;
  }
}

@media screen and (max-width: 790px) {
  .mainContainer {
    flex-wrap: wrap;
  }
  .aside {
    min-width: auto;
    width: 100%;
    overflow: hidden;
  }
  .aside__photo {
    width: 325px;
    display: block;
    margin: 0 auto 40px;
  }
  .contactsContainer,
  .techSkillsContainer,
  .softSkillsContainer {
    padding-left: 0;
    text-align: center;
  }
  .techSkillsContainer__wrapper,
  .softSkillsContainer__wrapper {
    max-width: 180px;
    margin: 0 auto 30px;
    border-right: 1px solid#FF6B08;
  }
  .infoContainer {
    width: 100%;
    padding: 40px;
  }
  .projectsContainer li {
    margin-left: 25px;
  }
}

@media screen and (max-width: 576px) {
  .mainContainer {
    margin: 0;
  }
  .infoContainer {
    padding: 20px 10px 10px;
  }

  .infoContainer__wrapper {
    margin-bottom: 30px;
  }

  .projectsContainer__item {
    font-size: 12px;
  }
  .company__description li {
    margin-left: 20px;
  }

  .project__imgIcon {
    max-width: 200px;
    margin-right: 0;
  }

  .infoContainer__projectNumbers {
  min-width: 40px;
  font-size: 30px;
}
}
